<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [2]:
import csv, sqlite3, pandas as pd
%config SqlMagic.displaycon = False
con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [3]:

#!pip install -q pandas==1.1.5

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///RealWorldData.db

### Store the dataset in a Table

##### In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data 
##### using SQL, it first needs to be stored in the database.

##### We will first read the csv files  from the given url  into pandas dataframes

##### Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [ ]:

df = pd.read_csv('CSV_files/ChicagoPublicSchools.csv')
table = df.to_sql('ChicagoPublicSchools.csv',con)

Double-click **here** for the solution.
<!--

import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

-->

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [6]:
# type in your query to retrieve list of all tables in the database
schools = 'ChicagoPublicSchools.csv'
%sql SELECT tbl_name FROM sqlite_master WHERE type='table'

Done.

[('ChicagoPublicSchools.csv',), ('chicago_socioeconomic_data',)]

Double-click **here** for a hint

<!--
In sqlite the system catalog table called sqlite_master contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution using SQLite:

%sql SELECT name FROM sqlite_master WHERE type='table'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [13]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql SELECT COUNT(type) FROM pragma_table_info('ChicagoPublicSchools.csv')
# %sql SELECT COUNT(*) FROM sqlite_master.columns WHERE tbl_name='Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012__20240114'

Done.

[(79,)]

Double-click **here** for the solution.

<!-- Solution SQLite:
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [14]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
# %sql SELECT * FROM sqlite_master WHERE type='table'
#%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012__20240114') LIMIT 5;

%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO(:schools);

# length() returns the number of characters.

Done.

[('index', 'INTEGER', 7),
 ('School_ID', 'INTEGER', 7),
 ('NAME_OF_SCHOOL', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street_Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP_Code', 'INTEGER', 7),
 ('Phone_Number', 'TEXT', 4),
 ('Link', 'TEXT', 4),
 ('Network_Manager', 'TEXT', 4),
 ('Collaborative_Name', 'TEXT', 4),
 ('Adequate_Yearly_Progress_Made_', 'TEXT', 4),
 ('Track_Schedule', 'TEXT', 4),
 ('CPS_Performance_Policy_Status', 'TEXT', 4),
 ('CPS_Performance_Policy_Level', 'TEXT', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 4),
 ('Safety_Icon', 'TEXT', 4),
 ('SAFETY_SCORE', 'REAL', 4),
 ('Family_Involvement_Icon', 'TEXT', 4),
 ('Family_Involvement_Score', 'TEXT', 4),
 ('Environment_Icon', 'TEXT', 4),
 ('Environment_Score', 'REAL', 4),
 ('Instruction_Icon', 'TEXT', 4),
 ('Instruction_Score', 'REAL', 4),
 ('Leaders_Icon', 'TEXT', 4),
 ('Leaders_Score', 'TEXT', 4),
 ('Teachers_Icon', 'TEXT', 4),
 ('Teachers_Score', 'TEXT', 4),
 ('Parent_Engagement_Icon', 'TEXT', 4),
 ('Parent_Engagement_Score', 'TEXT', 4),
 ('Parent_Environment_Icon', 'TEXT', 4),
 ('Parent_Environment_Score', 'TEXT', 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 4),
 ('Rate_of_Misconducts__per_100_students_', 'REAL', 4),
 ('Average_Teacher_Attendance', 'TEXT', 4),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT', 4),
 ('Pk_2_Literacy__', 'TEXT', 4),
 ('Pk_2_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Read__', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr_8_Explore_Math__', 'TEXT', 4),
 ('Gr_8_Explore_Read__', 'TEXT', 4),
 ('ISAT_Exceeding_Math__', 'REAL', 4),
 ('ISAT_Exceeding_Reading__', 'REAL', 4),
 ('ISAT_Value_Add_Math', 'REAL', 4),
 ('ISAT_Value_Add_Read', 'REAL', 4),
 ('ISAT_Value_Add_Color_Math', 'TEXT', 4),
 ('ISAT_Value_Add_Color_Read', 'TEXT', 4),
 ('Students_Taking__Algebra__', 'TEXT', 4),
 ('Students_Passing__Algebra__', 'TEXT', 4),
 ('9th Grade EXPLORE (2009)', 'TEXT', 4),
 ('9th Grade EXPLORE (2010)', 'TEXT', 4),
 ('10th Grade PLAN (2009)', 'TEXT', 4),
 ('10th Grade PLAN (2010)', 'TEXT', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011)', 'TEXT', 4),
 ('Net_Change_PLAN_and_ACT', 'TEXT', 4),
 ('College_Eligibility__', 'TEXT', 4),
 ('Graduation_Rate__', 'TEXT', 4),
 ('College_Enrollment_Rate__', 'TEXT', 4),
 ('COLLEGE_ENROLLMENT', 'INTEGER', 7),
 ('General_Services_Route', 'INTEGER', 7),
 ('Freshman_on_Track_Rate__', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER', 7),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police_District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

Double-click **here** for the solution.

<!-- Solution 

%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case? It is a mixed case.
2.  What is the name of "Community Area Name" column in your table? Does it have spaces? It is mixed case and it has spaces, so they get substituted with undersores.
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"? Yes.

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [16]:
#%sql SELECT * FROM 'Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012__20240114' LIMIT 10
#%sql SELECT * FROM 'Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012__20240114' WHERE `Name of School` NOT LIKE '%Elementary School%' AND `Elementary, Middle, or High School`=='ES' LIMIT 10;

%sql SELECT COUNT(*) FROM 'ChicagoPublicSchools.csv' WHERE `Elementary, Middle, or High School` = 'ES'

Done.

[(462,)]

Double-click **here** for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'? ("Elementary School, Middle School, High School")
-->

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS_DATA where "Elementary, Middle, or High School"='ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [8]:
#%sql SELECT * FROM 'ChicagoPublicSchools.csv' LIMIT 3
%sql SELECT MAX(`SAFETY_SCORE`) FROM 'ChicagoPublicSchools.csv';

Done.

[(99.0,)]

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS_DATA

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [23]:
#%sql SELECT * FROM 'Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012__20240114' LIMIT 3
%sql SELECT `NAME_OF_SCHOOL`, `SAFETY_SCORE` FROM 'ChicagoPublicSchools.csv' WHERE `SAFETY_SCORE` = (SELECT MAX(`SAFETY_SCORE`) FROM 'ChicagoPublicSchools.csv')

Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Annie Keller Elementary Gifted Magnet School', 99.0),
 ('Augustus H Burley Elementary School', 99.0),
 ('Edgar Allan Poe Elementary Classical School', 99.0),
 ('Edgebrook Elementary School', 99.0),
 ('Ellen Mitchell Elementary School', 99.0),
 ('James E McDade Elementary Classical School', 99.0),
 ('James G Blaine Elementary School', 99.0),
 ('LaSalle Elementary Language Academy', 99.0),
 ('Mary E Courtenay Elementary Language Arts Center', 99.0),
 ('Northside College Preparatory High School', 99.0),
 ('Northside Learning Center High School', 99.0),
 ('Norwood Park Elementary School', 99.0),
 ('Oriole Park Elementary School', 99.0),
 ('Sauganash Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('Wildwood Elementary School', 99.0)]

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where \
  Safety_Score= (select MAX(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS_DATA)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [27]:
#%sql SELECT * FROM 'ChicagoPublicSchools.csv' LIMIT 3
%sql SELECT `NAME_OF_SCHOOL`, `AVERAGE_STUDENT_ATTENDANCE` FROM 'ChicagoPublicSchools.csv' ORDER BY `AVERAGE_STUDENT_ATTENDANCE` DESC LIMIT 10;

Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from CHICAGO_PUBLIC_SCHOOLS_DATA \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [29]:
%sql SELECT `NAME_OF_SCHOOL`, `AVERAGE_STUDENT_ATTENDANCE` FROM 'ChicagoPublicSchools.csv' ORDER BY `AVERAGE_STUDENT_ATTENDANCE` LIMIT 5;

Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%')]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [35]:
#%sql SELECT `NAME_OF_SCHOOL`, REPLACE(`AVERAGE_STUDENT_ATTENDANCE`, '%', '') FROM 'ChicagoPublicSchools.csv' ORDER BY `AVERAGE_STUDENT_ATTENDANCE` LIMIT 5;

%sql SELECT `NAME_OF_SCHOOL`, REPLACE(`AVERAGE_STUDENT_ATTENDANCE`, '%', '') AS'AVERAGE_STUDENT_ATTENDANCE'\
     from 'ChicagoPublicSchools.csv' \
     order by `AVERAGE_STUDENT_ATTENDANCE` \
     LIMIT 5;

Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00')]

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''

-->

Double-click **here** for the solution.

<!-- Hint:

`%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5
`
-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [38]:
#%sql SELECT * FROM 'Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012__20240114' LIMIT 3
%sql SELECT `NAME_OF_SCHOOL`, REPLACE(`AVERAGE_STUDENT_ATTENDANCE`,'%','') AS 'AVERAGE_STUDENT_ATTENDANCE' FROM 'ChicagoPublicSchools.csv' WHERE CAST(`AVERAGE_STUDENT_ATTENDANCE` AS DOUBLE) < 70 ORDER BY `AVERAGE_STUDENT_ATTENDANCE` DESC;

# There's seems to be an issue with the percentage sign.

Done.

[('Roberto Clemente Community Academy High School', '69.60'),
 ('Chicago Vocational Career Academy High School', '68.80'),
 ('Manley Career Academy High School', '66.80'),
 ('Orr Academy High School', '66.30'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Dyett High School', '62.50'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Richard T Crane Technical Preparatory High School', '57.90')]

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)

-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [41]:
#%sql SELECT * FROM sqlite_master
#%sql SELECT * FROM 'ChicagoPublicSchools.csv' LIMIT 5;
#%sql SELECT 2 FROM 'ChChicagoPublicSchools.csv' LIMIT 20;

%sql SELECT `COMMUNITY_AREA_NAME`, `COLLEGE_ENROLLMENT` AS 'Total College Enrollement' FROM 'ChicagoPublicSchools.csv' GROUP BY `COMMUNITY_AREA_NAME` ORDER BY `COLLEGE_ENROLLMENT` DESC;

Done.

[('NORTH CENTER', 4368),
 ('ARCHER HEIGHTS', 3320),
 ('IRVING PARK', 2366),
 ('PORTAGE PARK', 1716),
 ('LOWER WEST SIDE', 1683),
 ('NORTH PARK', 1636),
 ('GARFIELD RIDGE', 1589),
 ('WEST ELSDON', 1560),
 ('ASHBURN', 1324),
 ('MONTCLARE', 1317),
 ('GAGE PARK', 1021),
 ('SOUTH CHICAGO', 905),
 ('LOOP', 871),
 ('WEST LAWN', 830),
 ('LINCOLN PARK', 813),
 ('HUMBOLDT PARK', 801),
 ('HERMOSA', 800),
 ('OHARE', 786),
 ('DUNNING', 784),
 ('WEST RIDGE', 752),
 ('WOODLAWN', 730),
 ('EDGEWATER', 709),
 ('BRIGHTON PARK', 691),
 ('CHATHAM', 652),
 ('EDISON PARK', 650),
 ('AVONDALE', 644),
 ('BELMONT CRAGIN', 634),
 ('HEGEWISCH', 633),
 ('EAST SIDE', 632),
 ('WEST TOWN', 620),
 ('AUBURN GRESHAM', 602),
 ('BRIDGEPORT', 600),
 ('LOGAN SQUARE', 586),
 ('JEFFERSON PARK', 574),
 ('NEW CITY', 556),
 ('NEAR WEST SIDE', 556),
 ('EAST GARFIELD PARK', 551),
 ('KENWOOD', 550),
 ('BURNSIDE', 549),
 ('ENGLEWOOD', 539),
 ('RIVERDALE', 532),
 ('CHICAGO LAWN', 531),
 ('ROSELAND', 525),
 ('SOUTH SHORE', 521),
 ('DOUGLAS', 483),
 ('FOREST GLEN', 468),
 ('LINCOLN SQUARE', 451),
 ('SOUTH LAWNDALE', 446),
 ('NEAR SOUTH SIDE', 446),
 ('GRAND BOULEVARD', 436),
 ('WEST GARFIELD PARK', 430),
 ('AVALON PARK', 398),
 ('ROGERS PARK', 375),
 ('WASHINGTON PARK', 350),
 ('HYDE PARK', 340),
 ('WEST ENGLEWOOD', 339),
 ('MCKINLEY PARK', 321),
 ('AUSTIN', 316),
 ('NEAR NORTH SIDE', 314),
 ('GREATER GRAND CROSSING', 310),
 ('LAKE VIEW', 307),
 ('ARMOUR SQUARE', 302),
 ('SOUTH DEERING', 286),
 ('UPTOWN', 280),
 ('BEVERLY', 274),
 ('ALBANY PARK', 266),
 ('CALUMET HEIGHTS', 264),
 ('WASHINGTON HEIGHTS', 246),
 ('MOUNT GREENWOOD', 245),
 ('FULLER PARK', 224),
 ('MORGAN PARK', 204),
 ('PULLMAN', 192),
 ('NORTH LAWNDALE', 171),
 ('NORWOOD PARK', 160),
 ('OAKLAND', 140),
 ('WEST PULLMAN', 138),
 ('CLEARING', 137)]

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [42]:
# Problem with parentheses.
%sql SELECT `COMMUNITY_AREA_NAME`, `COLLEGE_ENROLLMENT` AS 'Total College Enrollement' FROM 'ChicagoPublicSchools.csv' GROUP BY `COMMUNITY_AREA_NAME` ORDER BY `COLLEGE_ENROLLMENT` LIMIT 5;

Done.

[('CLEARING', 137),
 ('WEST PULLMAN', 138),
 ('OAKLAND', 140),
 ('NORWOOD PARK', 160),
 ('NORTH LAWNDALE', 171)]

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   LIMIT 5 

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [44]:
# Problem with parentheses. 
%sql SELECT `COMMUNITY_AREA_NAME`, `SAFETY_SCORE` FROM 'ChicagoPublicSchools.csv' GROUP BY `SAFETY_SCORE` ORDER BY `SAFETY_SCORE` LIMIT 5;

Done.

[('KENWOOD', None),
 ('WASHINGTON PARK', 1.0),
 ('WEST ENGLEWOOD', 5.0),
 ('WEST GARFIELD PARK', 6.0),
 ('AUBURN GRESHAM', 11.0)]

Double-click **here** for the solution.

<!-- Solution SQLite:

%sql SELECT name_of_school, safety_score \
FROM CHICAGO_PUBLIC_SCHOOLS_DATA  where safety_score !='None' \
ORDER BY safety_score \
LIMIT 5

-->

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [71]:
chicago_socioeconomic_data = pd.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
%sql --persist chicago_socioeconomic_data
table2 = %sql SELECT * FROM chicago_socioeconomic_data LIMIT 3
table2

Done.

[(0, 1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (1, 2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (2, 3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0)]

In [79]:
#%sql SELECT * FROM 'ChicagoPublicSchools.csv' LIMIT 3

%sql SELECT CP.`Community_Area_Name`, CS.`hardship_index`, CP.`COLLEGE_ENROLLMENT` FROM 'ChicagoPublicSchools.csv' CP,'chicago_socioeconomic_data' CS WHERE CP.`COLLEGE_ENROLLMENT` = CAST(4368 AS TEXT) ORDER BY `hardship_index` DESC;

Done.

[('NORTH CENTER', 98.0, 4368),
 ('NORTH CENTER', 97.0, 4368),
 ('NORTH CENTER', 96.0, 4368),
 ('NORTH CENTER', 94.0, 4368),
 ('NORTH CENTER', 93.0, 4368),
 ('NORTH CENTER', 92.0, 4368),
 ('NORTH CENTER', 91.0, 4368),
 ('NORTH CENTER', 89.0, 4368),
 ('NORTH CENTER', 88.0, 4368),
 ('NORTH CENTER', 87.0, 4368),
 ('NORTH CENTER', 85.0, 4368),
 ('NORTH CENTER', 84.0, 4368),
 ('NORTH CENTER', 83.0, 4368),
 ('NORTH CENTER', 82.0, 4368),
 ('NORTH CENTER', 80.0, 4368),
 ('NORTH CENTER', 79.0, 4368),
 ('NORTH CENTER', 78.0, 4368),
 ('NORTH CENTER', 76.0, 4368),
 ('NORTH CENTER', 75.0, 4368),
 ('NORTH CENTER', 74.0, 4368),
 ('NORTH CENTER', 73.0, 4368),
 ('NORTH CENTER', 71.0, 4368),
 ('NORTH CENTER', 70.0, 4368),
 ('NORTH CENTER', 69.0, 4368),
 ('NORTH CENTER', 67.0, 4368),
 ('NORTH CENTER', 66.0, 4368),
 ('NORTH CENTER', 65.0, 4368),
 ('NORTH CENTER', 64.0, 4368),
 ('NORTH CENTER', 62.0, 4368),
 ('NORTH CENTER', 61.0, 4368),
 ('NORTH CENTER', 60.0, 4368),
 ('NORTH CENTER', 58.0, 4368),
 ('NORTH CENTER', 57.0, 4368),
 ('NORTH CENTER', 56.0, 4368),
 ('NORTH CENTER', 55.0, 4368),
 ('NORTH CENTER', 53.0, 4368),
 ('NORTH CENTER', 52.0, 4368),
 ('NORTH CENTER', 51.0, 4368),
 ('NORTH CENTER', 50.0, 4368),
 ('NORTH CENTER', 48.0, 4368),
 ('NORTH CENTER', 47.0, 4368),
 ('NORTH CENTER', 46.0, 4368),
 ('NORTH CENTER', 44.0, 4368),
 ('NORTH CENTER', 43.0, 4368),
 ('NORTH CENTER', 42.0, 4368),
 ('NORTH CENTER', 41.0, 4368),
 ('NORTH CENTER', 39.0, 4368),
 ('NORTH CENTER', 38.0, 4368),
 ('NORTH CENTER', 37.0, 4368),
 ('NORTH CENTER', 35.0, 4368),
 ('NORTH CENTER', 34.0, 4368),
 ('NORTH CENTER', 33.0, 4368),
 ('NORTH CENTER', 32.0, 4368),
 ('NORTH CENTER', 30.0, 4368),
 ('NORTH CENTER', 29.0, 4368),
 ('NORTH CENTER', 28.0, 4368),
 ('NORTH CENTER', 26.0, 4368),
 ('NORTH CENTER', 25.0, 4368),
 ('NORTH CENTER', 24.0, 4368),
 ('NORTH CENTER', 23.0, 4368),
 ('NORTH CENTER', 21.0, 4368),
 ('NORTH CENTER', 20.0, 4368),
 ('NORTH CENTER', 19.0, 4368),
 ('NORTH CENTER', 17.0, 4368),
 ('NORTH CENTER', 16.0, 4368),
 ('NORTH CENTER', 15.0, 4368),
 ('NORTH CENTER', 14.0, 4368),
 ('NORTH CENTER', 12.0, 4368),
 ('NORTH CENTER', 11.0, 4368),
 ('NORTH CENTER', 10.0, 4368),
 ('NORTH CENTER', 8.0, 4368),
 ('NORTH CENTER', 7.0, 4368),
 ('NORTH CENTER', 6.0, 4368),
 ('NORTH CENTER', 5.0, 4368),
 ('NORTH CENTER', 3.0, 4368),
 ('NORTH CENTER', 2.0, 4368),
 ('NORTH CENTER', 1.0, 4368),
 ('NORTH CENTER', None, 4368)]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
where CD.community_area_number = CPS.community_area_number 
and college_enrollment = 4368


-->

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [10]:
#%sql SELECT * FROM 'ChicagoPublicSchools.csv' LIMIT 3;
%sql SELECT CS.`COMMUNITY_AREA_NAME`, CS.`hardship_index`, CP.`COLLEGE_ENROLLMENT` FROM 'ChicagoPublicSchools.csv' CP,'chicago_socioeconomic_data' CS WHERE CP.`COLLEGE_ENROLLMENT` = (SELECT MAX(`COLLEGE_ENROLLMENT`) FROM 'ChicagoPublicSchools.csv') ORDER BY `hardship_index` DESC;

Done.

[('Riverdale', 98.0, 4368),
 ('Fuller Park', 97.0, 4368),
 ('South Lawndale', 96.0, 4368),
 ('Englewood', 94.0, 4368),
 ('Gage Park', 93.0, 4368),
 ('West Garfield Park', 92.0, 4368),
 ('New City', 91.0, 4368),
 ('West Englewood', 89.0, 4368),
 ('Washington Park', 88.0, 4368),
 ('North Lawndale', 87.0, 4368),
 ('Humboldt park', 85.0, 4368),
 ('Brighton Park', 84.0, 4368),
 ('East Garfield Park', 83.0, 4368),
 ('Armour Square', 82.0, 4368),
 ('Chicago Lawn', 80.0, 4368),
 ('Burnside', 79.0, 4368),
 ('Oakland', 78.0, 4368),
 ('Lower West Side', 76.0, 4368),
 ('South Chicago', 75.0, 4368),
 ('Auburn Gresham', 74.0, 4368),
 ('Austin', 73.0, 4368),
 ('Hermosa', 71.0, 4368),
 ('Belmont Cragin', 70.0, 4368),
 ('West Elsdon', 69.0, 4368),
 ('Archer Heights', 67.0, 4368),
 ('Greater Grand Crossing', 66.0, 4368),
 ('South Deering', 65.0, 4368),
 ('East Side', 64.0, 4368),
 ('West Pullman', 62.0, 4368),
 ('McKinley Park', 61.0, 4368),
 ('Chatham', 60.0, 4368),
 ('Woodlawn', 58.0, 4368),
 ('Grand Boulevard', 57.0, 4368),
 ('West Lawn', 56.0, 4368),
 ('South Shore', 55.0, 4368),
 ('Albany Park', 53.0, 4368),
 ('Roseland', 52.0, 4368),
 ('Pullman', 51.0, 4368),
 ('Montclaire', 50.0, 4368),
 ('Washington Height', 48.0, 4368),
 ('Douglas', 47.0, 4368),
 ('West Ridge', 46.0, 4368),
 ('Hegewisch', 44.0, 4368),
 ('Bridgeport', 43.0, 4368),
 ('Avondale', 42.0, 4368),
 ('Avalon Park', 41.0, 4368),
 ('Rogers Park', 39.0, 4368),
 ('Calumet Heights', 38.0, 4368),
 ('Ashburn', 37.0, 4368),
 ('Portage Park', 35.0, 4368),
 ('Irving Park', 34.0, 4368),
 ('North Park', 33.0, 4368),
 ('Garfield Ridge', 32.0, 4368),
 ('Morgan Park', 30.0, 4368),
 ('Clearing', 29.0, 4368),
 ('Dunning', 28.0, 4368),
 ('Kenwood', 26.0, 4368),
 ('Jefferson Park', 25.0, 4368),
 ("O'Hare", 24.0, 4368),
 ('Logan Square', 23.0, 4368),
 ('Norwood Park', 21.0, 4368),
 ('Uptown', 20.0, 4368),
 ('Edgewater', 19.0, 4368),
 ('Lincoln Square', 17.0, 4368),
 ('Mount Greenwood', 16.0, 4368),
 ('Near West Side', 15.0, 4368),
 ('Hyde Park', 14.0, 4368),
 ('Beverly', 12.0, 4368),
 ('Forest Glen', 11.0, 4368),
 ('West Town', 10.0, 4368),
 ('Edison Park', 8.0, 4368),
 ('Near South Side', 7.0, 4368),
 ('North Center', 6.0, 4368),
 ('Lake View', 5.0, 4368),
 ('Loop', 3.0, 4368),
 ('Lincoln Park', 2.0, 4368),
 ('Near North Side', 1.0, 4368),
 ('CHICAGO', None, 4368)]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select community_area_number, community_area_name, hardship_index from CENSUS_DATA \
   where community_area_number in \
   ( select community_area_number from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )
-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2022-03-04        | 2.2     | Lakshmi Holla     | Made changes in markdown cells |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>